@copy "@osgeo4w@\bin\osgeo4w-setup.exe" "@osgeo4w@\bin\osgeo4w-setup-work.exe"
@start /B "Running Setup" "@osgeo4w@\bin\osgeo4w-setup-work.exe" --root "@osgeo4w@" --quiet-mode --local-install --local-package-dir "\\islsudouest\users\Godet\Qgis\DEPLOY" --autoaccept  --delete-orphans --upgrade-also -C Libs -C Desktop -C Commandline_Utilities
